*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    
    
    
}
#starter{
    background-color: greenyellow;
    display: flex;
    flex-direction:column;
    height: 20%;
    
    
    
}
#header{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 20%;
    position:relative;

}
h1{
    text-shadow: 2px 2px 10px black;
    
    
    
    
}
 header img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom:10px;
    right: 775px;
    
    position:absolute;
    
    
    
    
    

    
}
nav{
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    

}
ul{
    list-style-type: none;
    
}
li{
    display: inline;
 
}
li a{
    
    color: black;
    text-decoration: none;
    font-weight: bolder;
    transition: 1s;
}
li a:hover{
    transform: scale(2);
    color: white;
    background-color: yellowgreen;
}
#main{
    display:flex;
    background-color: chartreuse;
    border: 2px solid green;
}
#mainbody{
    flex:2
    
    
    
}
#mainbody h1{
    text-align: center;
    
}
#aside{
    flex:2
    
}
#aside h1{
    text-align: center;
}
#images{
    display: flex;
    width: 100px;
    height: 100px;
    
    
}
.grp2{
    flex:1;
}



#last{
    background-color: green;
    text-align: center;
    padding-top: 0;
    margin-top: 0px;
    
}

